body {
  font-family: Arial, sans-serif;
  background: #eee;
  padding: 20px;
}

/* GRID */
#jornal {
  display: grid;
  grid-template-columns: repeat(auto-fill, 700px);
  gap: 20px;
  justify-content: center;
}

/* IFRAME */
iframe {
  width: 700px;
  height: 1058px;
  border: none;
  background: white;
}
