<div class="card">

  <div class="selo" data-selo="{{SELO}}">
    <img />
  </div>

  <div class="topo">
    <div class="logo">
      <img src="{{LOGO}}" />
    </div>

    <div class="tarja">
      PROMOÇÃO
    </div>
  </div>

  <div class="area-central">

    <div class="texto-topo">
      {{TEXTO}}
    </div>

    <div class="valor-container">
      <div class="valor-texto">
        {{VALOR}}
      </div>
    </div>

    <div class="complemento">
      {{COMPLEMENTO}}
    </div>

    <div class="legal">
      {{LEGAL}}
    </div>

  </div>

  <div class="rodape">
    <div class="rodape">
  <div class="uf">
    UF: {{UF}} - URN: {{URN}} - Negócio do Cliente: {{SEGMENTO}}
  </div>
</div>
  </div>

</div>
